[Unit]
Description=Node-RED logging service
Requires=nodered.service

[Service]
ExecStart=/bin/journalctl -f -u nodered -o cat
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodered-logging

[Install]
WantedBy=multi-user.target
